<head>
    {% load static %}

    <script type="text/javascript" src="{% static 'main/jquery-3.5.1.js' %}"></script>
    <script>
        $(document).ready(function() {
            $('select').formSelect();
        });
    </script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link type="text/css" rel="stylesheet" href="{% static 'main/css/materialize.css' %}" media="screen,projection" />


    <script type="text/javascript" src="{% static 'main/js/materialize.js'%}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

</head>

<body>
    {% include "main/includes/messages.html" %} {% load static %}
 
    


    <h3>
        <p class="z-depth-5 card-panel hoverable black white-text darken-2 "><a href="homepage"><i>Top Coder</i></a> </p>
    </h3>
    <blockquote class="z-depth-2 card-panel hoverable black lighten-1  white-text  ">
        <h6><i>
            <p> irSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS </p>
            <p> We help you find the top level coders across the globe. </p>
            <p> Rank Them According to Your Need. </p> </i>
        </h6>
    </blockquote>

    
       
    <div class=" row">
        <form action ='' method="get"> 
             

        <div class="hoverable input-field col s2">
            <select>
              <option  value="0" disabled selected>Choose your option</option>
              <option  value="name">Name</option>
              <option  value="country">Country</option>
              <option  value="city">City</option>
              <option  value="organization">Organization</option>
              <option value="userame">Userame</option>
            </select>
            <label>Search Parameter</label>
        </div>
    </form>
          
          

       

        <script>
            $("select").change(function() {

                var sx = $("select").val();
                $.get("?your_param="+sx)
            });
        </script>



        <form action="" method="post">
           {% csrf_token %}

            <div class="row">
                <div class=" hoverable input-field col s4">
                    <label for="your_name">Search Here !</label>
                    <input id="your_name" type="text" name="your_name">
                </div>

            </div>
        </form>




        <blockquote>
            <table>
                <thead>
                    <tr>
                        <th><a href="?order_by=leaderboard_rank"><u>Position</u></a></th>
                        <th><a href="?order_by=username"><u>User Name</u></a></th>
                        <th><a href="?order_by=name"><u>Name</u></a></th>
                        <th><a href="?order_by=country"><u>Country</u></a></th>
                        <th><a href="?order_by=city"><u>City</u></a></th>
                        <th><a href="?order_by=organization"><u>organization</u></a></th>
                        <th><a href="?order_by=rank_codeforces"><u>Codeforces Rank</u></a></th>
                        <th><a href="?order_by=rating_codeforces"><u>CoderForces Rating</u></a></th>
                    </tr>
                </thead>

                <tbody>

                    {% for user in users %}

                    <tr>
                        <td>{{user.leaderboard_rank}}</td>
                        <td>{{user.username}}</td>
                        <td>{{user.name}}</td>
                        <td>{{user.country}}</td>
                        <td>{{user.city}}</td>
                        <td>{{user.organization}}</td>
                        <td>{{user.rank_codeforces}}</td>
                        <td>{{user.rating_codeforces}}</td>
                    </tr>
                    {% endfor %}




                </tbody>
            </table>

        </blockquote>
        {% if users.has_other_pages %}
        <ul class="pagination">
            {% if users.has_previous %}
            <li class="waves-effect"><a href="?page={{ users.previous_page_number }}">&laquo;</a></li>
            {% else %}
            <li class="disabled"><a>&laquo;</a></li>
            {% endif %} {% for i in users.paginator.page_range %} {% if users.number == i %}
            <li class="active"><a>{{i}}</a></li>
            {% else %}
            <li class="waves-effect"><a href="?page={{ i }}">{{ i }}</a></li>
            {% endif %} {% endfor %} {% if users.has_next %}
            <li class="waves-effect"><a href="?page={{ users.next_page_number }}">&raquo;</a></li>
            {% else %}
            <li class="disabled"><a>&raquo;</a></li>
            {% endif %}
        </ul>
        {% endif %}





        <footer class="page-footer black hoverable">
            <div class="container  ">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">About</h5>
                        <p class="grey-text text-lighten-4">Maintaned by Tkrsh currently in developement phase please leave your valuable suggestions via <a href="mailto:tkrsh.srv.09@gmail.com">mail</a>
                            <br>
                            <br> Next updates:
                            <br>
                            <br> 1) Fetch Ratings function
                            <br> 2) Support for codechef
                            <br> 3) New Metric to rank
                            <br>4) User Dashboard
                            <br>5) Data Analysis and User History Graphs




                        </p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">More Info</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3" href="https://www.codeforces.com">Codeforces</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.codeforces.com">CodeChef</a></li>
                            <li><a class="grey-text text-lighten-3" href="https://www.codeforces.com">GitHub - Tkrsh</a></li>
                            <li>
                                <a class="grey-text text-lighten-3" href="https://www.codeforces.com"> </a>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>



    </div>



</body>